body {
    padding-top: 80px;
}

a,
a:hover {
    color: #222222;
}

nav.navbar-light {
    background-color: #dddddd;
    color: #222222;
    border-top: solid 2px #008080;
    border-bottom: solid 2px #008080;
}

.btn  {
    border-radius: 0px;
}





.col-xs-12 ul {
    border: solid 1px #008080;
}

li.media {
    border-bottom: solid 1px #dddddd;
    padding: 10px;
}

.media,
h4 {
    margin-top: 0;
}

button.btn {
    width: 100%;
    height: 4rem;
    background-color: #008080;
    color: #dddddd;
}

#template_block {
    display: none;
}

.btn.login {
    width: 20rem;
    border: solid 2px #008080;
}